@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");


.mainbox {
  width: 100vw;
  display: flex;
  justify-content: center
}

.container {
	display: flex;
	flex-direction: row-reverse;
  flex-wrap: wrap;
	width: 30vw;
}

.item {
	width: 15vw;
	height: 15vw;
}

.green {
	background: #2f3013;
}

.yellow {
	background: #ffd62a;
}

.purple {
	background: #6a6c14;
}

/* background */
:root {
  --curve: cubic-bezier(0.2, 1, 0.6, 1);
}

body {
  background-image: radial-gradient(
    circle farthest-corner at 50% 50%,
    rgba(0, 0, 0, 1) 20%,
    rgba(36, 39, 66, 1) 100%
  );
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 6vw;
  text-align: center;
  color: #ffd62a;
  margin: 20px;
}