body {
  color: rgb(39, 39, 39);
}

.headof h1 {
  text-align: center;
  font-size: 57px;
  font-weight: 400;
  margin: 20px 0 0 0;
}

.headof p {
  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-size: 40px;
  font-weight: 400;
  padding: 5px 0 5px 0;
}

.headof .sub-paragraph {
  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-size: 40px;
  font-weight: 100;
  margin: 10px 0 10px 0;
}

.line1 {
  height: 1px;
  background-color:	rgb(236, 234, 234);
  margin-top: 5px;
  margin-bottom: 5px;
}

.longimage {
  background-image: url("img/main-head-img.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  font-family: 'Barlow', sans-serif;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.card-holder {
  display: flex;
  justify-content: space-around;
  align-items: top;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.card h3 {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.card p {
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.card {
  width: 164px;
  text-align: center;
  color: rgb(39, 39, 39);
  padding: 10px;
  margin: 5px;
  border: 3px solid rgb(39, 39, 39);
}

.card:hover {
  background: rgb(204, 204, 204);
}


.newsletter-box {
  color: grey;
  border: solid thin #cfcfcf;
  border-radius: 3px;
  padding: 10px;
  position: relative;
}

.newsletter-box h3 {
  margin-top: 0px;
}

#email {
  display: block;
  width: 100%;
  border: solid thin #cfcfcf;
  border-radius: 3px;
  padding: 3px;
  height: 30px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

button {
  display: block;
  width: 100%;
  color: white;
  background: #3cb878;
  border: none;
  height: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

#terms {
  position: relative;
  top: 2px;
  left: 0px;
}

.closex {
  position: absolute;
  top: 0px;
  right: 7px;
  cursor: pointer;
}

#closexbutton {
  background: none;
  color: black;
  cursor: pointer;
}

.questioncircle {
  color: white;
  font-size: 70px;
  width: 100px;
  height: 100px;
  background: #3cb878;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

checkbox {
  cursor: pointer;
}

a {
  color: #3cb878;
}

a:hover {
  color: blue;
}