.header {
	background: #0ff;
	height: 150px;
}

.content {
	display: flex;
	height: 750px;
}

.lside {
	width: 450px;
	background: #ffa500;
}

.main {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	width: 100%;
	background: #f00;
	margin: 0 20px 0 20px;
}

.bbox {
	background: #000;
	width: 75px;
	height: 75px;
	margin: 20px;
}

.rside {
	width: 450px;
	background: #800080;
}

.footer {
	height: 150px;
	background: #00f;
}